Source: ros-jazzy-colcon-rclgd
Section: misc
Priority: optional
Maintainer: "ozuba" <miguelozubas@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://rclgd.readthedocs.io/
Standards-Version: 3.9.2

Package: ros-jazzy-colcon-rclgd
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-colcon-common-extensions, ros-jazzy-ros-workspace
Description: colcon build extension for rclgd (Godot Engine) packages
